<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1>Edycja biletu</h1>
      <br>
      <h3 class="display-2">Dostępne wydarzenia</h3>
      <%= render "events_list",  events: Event.all %>
      <br>
      <h3 class="display-2">Wypełnij formularz</h3>
      <%= render 'form', ticket: @ticket %>

    </div>
  </div>
</div>