<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1>Kup bilet</h1>
      <br>
      <h3 class="display-2">Lista dostępnych wydarzeń</h3>
      <%= render "events_list",  events: Event.all %>
      <br>
      <h3 class="display-2">Uzupełnij formularz</h3>
      <%= render 'form', ticket: @ticket %>
    </div>
  </div>
</div>